@font-face {
    font-family: lexend;
    src: url(/fonts/LexendDeca-Medium.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lexend;
}

body{
    text-align: center;
    color: white;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,6,98,1) 100%);
}

h1{
    color: white;
    font-size: 40px;
    text-shadow: 0 0 30px gray;
}

h2{
    color:rgb(255, 173, 187);
    text-shadow: 1px 1px 30px rgb(241, 13, 127);
}

a{
    text-decoration: none;
    color: powderblue;
    text-shadow: 0 0 20px blue;
}

img{
    border-radius: 10%;
    border: 2px solid purple;
    align: center;
    display: block;
    margin: auto;
}

img:hover{
    transform: scale(1.1);
    transition: 1s ease all;
}

p{
    text-align: center;
}

p:hover{
    text-shadow: 1px 1px 4px palevioletred;
}

table{
    background-color: rgb(87, 82, 82);
    margin: auto;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

th, td{
    border: 1px outset black;
    padding: 4px;
    text-align: center;
    color: rgb(224, 219, 219);
}

#dia{
    background-color: rgb(255, 149, 166);
    border: 4px solid rgb(255, 26, 95);
    color: rgb(185, 28, 54);
}

#dia2{
    background-color: rgb(149, 255, 175);
    border: 4px solid rgb(7, 252, 129);
    color: rgb(31, 155, 0);
}

#dia3{
        background-color: rgb(149, 216, 255);
        border: 4px solid rgb(26, 190, 255);
        color: rgb(17, 124, 156);
}

#dia4{
    background-color: rgb(255, 209, 149);
    border: 4px solid rgb(255, 156, 26);
    color: rgb(179, 120, 11);
}

#dia5{
    background-color: rgb(149, 174, 255);
    border: 4px solid rgb(26, 49, 255);
    color:rgb(26, 49, 255);
}

#dia6{
    background-color: rgb(190, 149, 255);
    border: 4px solid rgb(114, 26, 255);
    color: purple;
}

#dia7{
    background-color: rgb(255, 149, 149);
    border: 4px solid rgb(255, 66, 66);
    color: rgb(156, 4, 4);
}

#yt{
    border-radius: 100%;
    transform: scale(1.2);
    transition: 3s ease all;
}

#tk{
    border-radius: 100%;
    transform: scale(1.2);
    transition: 3s ease all;
}